@import "../../styles/globalstyles/Variables.scss";

.passenger-info-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
 

  .passenger-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
    font-family: $fontFamily;
    color: $fontColor;

    .big-heading {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    .medium-heading {
      font-size: $headingTwoSize;
      font-weight: 500;
      margin-bottom: 10px;
    }
  
    .small-heading {
      font-size: $headingThreeSize;
      margin-bottom: 10px;
    }

    .radio-buttons {
      display: flex;
      gap: 12px;
    }

    .inputs {
      display: flex;
      flex-direction: row;
      gap: 50px;

      input {
        border: none;
        border-radius: 6px;
        font-family: $fontFamily;
        height: 40px;
        width: 300px;
        text-align: center;
      }
    }

    .checkbox {
      display: flex;
      gap: 12px;
    }
  }
}