@import "../../styles/globalstyles/Variables.scss";

.flight-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 35px;
  margin: 25px 50px 0 50px;
  border: none;
  border-radius: 6px;
  background: $defaultBg;
  background: $defaultBgGradient;
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $headingTwoSize;
  

  .airline-data {
    width: 30%;

    img {
      width: 200px;
      height: 200px;
      border-radius: 6px;
    }
  }

  .flight-data {
    display: flex;
    flex-direction: row;
    gap: 180px;
    width: 70%;
    padding:0 80px 0 80px;
  }

  .heading {
    font-weight: 900;
  }

  .pricing {
    display: grid;
    grid-column: span 2;
  }

  .link {
    text-decoration: none;
    color: white;
    text-shadow: $textShadow;
    font-family: $fontFamily;
    font-size: $headingTwoSize;
    padding: 20px 50px 20px 50px;
    background-color: $buttonBgColor;
    border: none;
    border-radius: 26px;
    cursor: pointer;
  }

  .link:hover {
    background-color: $buttonHoverBgColor;
  }
}