$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontColor : white;
$headingSize: 26px;
$paragraphSize: 22px;
$footerBg: rgb(27, 67, 77);
$footerBgGradiend: linear-gradient(
  90deg,
  rgba(27, 67, 77, 1) 0%,
  rgba(169, 252, 231, 1) 100%
);
$defaultBg: rgb(169, 252, 231);
$defaultBgGradient: linear-gradient(
  90deg,
  rgba(169, 252, 231, 1) 0%,
  rgba(4, 167, 217, 1) 97%
);
$buttonBgColor:  rgb(169, 252, 231) ;
$buttonHoverBgColor:  rgb(147, 240, 217); ;
$textShadow:  2px 5px 32px #000000;


