$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$textShadow:  2px 5px 32px #000000;

.search-form {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 45px;
  gap: 25px;
  border: none;
  border-radius: 6px;
  background: rgb(169, 252, 231);
  background: linear-gradient(
    90deg,
    rgba(169, 252, 231, 1) 0%,
    rgba(4, 167, 217, 1) 97%
  );

  text-shadow: $textShadow;
  justify-content: space-around;

  .search-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .dropdown-input {
    border: 2px solid rgba(4, 167, 217, 1);
    border-radius: 6px;
    font-family: $fontFamily;
    height: 44px;
    width: 200px;
    text-align: center;
  }

  .data-input {
    border: 2px solid rgba(4, 167, 217, 1);
    border-radius: 6px;
    font-family: $fontFamily;
    height: 40px;
    width: 200px;
    text-align: center;
  }

  .label {
    font-family: $fontFamily;
    font-size: 20px;
  }

  button {
    font-family: $fontFamily;
    font-size: 26px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 252, 231);
    border: none;
    border-radius: 26px;
    width: 100px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    .link {
      text-decoration: none;
      color: white;
      text-shadow: $textShadow;
      
    }
  }

  button:hover {
    background-color: rgb(147, 240, 217);
  }
}
