@import "../../styles/globalstyles/Variables.scss";

.insurance-card-container {
  display: flex;
  flex-direction: column;
  padding:35px;
  margin: 25px 50px 25px 50px;
  gap: 25px;
  border: none;
  border-radius: 6px;
  background: $defaultBg;
  background: $defaultBgGradient;
  color: $fontColor;
  font-family: $fontFamily;
  font-size: $paragraphSize;
  text-shadow: $textShadow;
  
  .big-heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .medium-heading {
    font-size: $headingTwoSize;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .small-heading {
    font-size: $headingThreeSize;
    margin-bottom: 10px;
  }

  .insurance-card-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .checkbox{
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}