.insurance-card-container{
    display: flex;
    flex-direction: column;
    padding:10px 125px 10px 125px;
    margin:25px 50px 25px 50px;
    gap: 25px;
    border: none;
    border-radius: 6px;
    background: rgb(169, 252, 231);
    background: linear-gradient(
      90deg,
      rgba(169, 252, 231, 1) 0%,
      rgba(4, 167, 217, 1) 97%
    );
   
    justify-content: space-around;

    .insurance-card-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    

}