.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(169,252,231);
    background: linear-gradient(90deg, rgba(169,252,231,1) 0%, rgba(4,167,217,1) 97%);
    margin: 0px;

    .company-logo{
        width: 100px;
        height: 65px;
        filter: invert(1);
    }

    
    .company-logo:hover{
      
        filter: invert(0);
    }

    .profile-logo{
        width: 45px;
        height: 45px;
        filter: invert(1);
        cursor: pointer;
    }

    .profile-logo:hover{
        filter: invert(0);
    }
}

