@import "../../styles/globalstyles/Variables.scss";

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: $defaultBg;
  background: $defaultBgGradient;
  margin: 0px;

  .company-logo {
    width: 100px;
    height: 65px;
    filter: invert(1);
  }

  .company-logo:hover {
    filter: invert(0);
  }

  .profile-logo {
    width: 45px;
    height: 45px;
    filter: invert(1);
    cursor: pointer;
  }

  .profile-logo:hover {
    filter: invert(0);
  }
}