footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(27, 67, 77);
  background: linear-gradient(
    90deg,
    rgba(27, 67, 77, 1) 0%,
    rgba(169, 252, 231, 1) 100%
  );
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;

  .footer-left{
    width: 48%;
    margin-top: 20px;
  
  }

  .footer-center li{
    
    display: flex;
    flex-direction: column;
  }

  .footer-right{
    display: flex;
    flex-direction: column;
    margin-top: -40px;
  }
}
