@import "../../styles/globalstyles/Variables.scss";

.flight-info-container {
  display: flex;
  flex-direction: column;
  font-family: $fontFamily;
  color: $fontColor;
  text-shadow: $textShadow;
  padding: 35px;
  margin: 25px 50px 0 50px;
  gap: 25px;
  border: none;
  border-radius: 6px;
  background: $defaultBg;
  background: $defaultBgGradient;
  align-items: flex-start;

  .big-heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .medium-heading {
    font-size: $headingTwoSize;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .small-heading {
    font-size: $headingThreeSize;
    margin-bottom: 10px;
  }

  .airline-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 6px;
    }
  }

  .flight-stats {
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    background-color: rgb(165, 159, 159);
    align-items: center;
    justify-content: center;
  }
}

.stat-card {
  display: flex;
  flex-direction: column;

 
}
